<% provide(:title,"About") %>
<h1><%= t(:about) %></h1>
<p>
  
  
      
  
  <div class="pane-content">
    <p><%= t(:a1)%></p>

<ol>
	<li><strong><%= t(:a2)%></strong><br>
	<%= t(:a3)%><br>
	&nbsp;</li><li><%= t(:a4)%></strong><br>
	<%= t(:a5)%><br>
	&nbsp;</li>
	
	
</ol>


  </div>

  
  
</p>