<% if logged_in? %>
  <div class="row" >
    
    <div class="col-md-8">
      <h3><%= t(:dogs_feed)%></h3>
      <%= render 'shared/feed' %>
    </div>
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%=t :welcome_for_dog_registration %></h1>

    <h2>
      This is the home page for the
      <a href="http://www.railstutorial.org/">Leeds Beckett University</a>
      for dog registration.
    </h2>

    <%= link_to t(:sign_up)+"!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  
<% end %>
