<li id="dog-<%= dog.id %>">
  <span><%= gravatar_for(dog.user, size: 50) %></span>
    <span class="content"><%= dog.name %></span>
  <span class="content"><%= dog.vaccine %></span>
  <span class="timestamp">
    Added <%= time_ago_in_words(dog.created_at) %> ago.
  </span>
</li>