<footer class="footer">
  <small>
    The <a href="www.leedsbeckett.ac.uk/">Design Pattern and Web Application</a>
    by <a href="">Krishna M Chaudhary (C7191646)</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(:help), help_path %></li>
      <li><%= link_to t(:contact), contact_path %></li>
    </ul>
  </nav>
</footer>