<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
    <%= link_to image_tag("logo.jpg", alt: "Leeds Beckett University",style:"width:120px"),
              root_path,id: "logo" %>
    
      <ul class="nav navbar-nav navbar-right" style="margin-top: 20px;">
        <li><%= link_to t(:home), root_path %></li>
        <li><%= link_to t(:about),   about_path %></li>
        
        <% if logged_in? %>
          <li><%= link_to t(:users), users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%=t :account %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" style="margin-top:20px">
              <li><%= link_to t(:dogs), dog_user_path(current_user) %></li>
               <li><%= link_to t(:profile), current_user %></li>
              <li><%= link_to t(:settings), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t(:log_out), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t(:log_in), login_path %></li>
        <% end %>
      </ul>
      <div class="menu" style="margin: 58px 0px 0px 7%;position: absolute;" lang = <%= I18n.locale %> dir= <%= @local_dir %> >
        <ul class="vertical menu" style="list-style-type: none;">
          <li>
              <%= link_to image_tag("flags/UK_Flag.png", border: 0, title:"English"), request.url.gsub(/((\/(en)\/)|(\/(ne)\/)|(\/(fa)\/)|(\/(th)\/))|(\/(en))|(\/(ne))|(\/(fa))|(\/(th))/, "/en/"), {class: 'flag-icon'} %>
              <%= link_to image_tag("flags/NEPAL_Flag.png", border: 0, title:"नेपाल", style:"width: 20px;padding-bottom: 17px;"), request.url.gsub(/((\/(en)\/)|(\/(ne)\/)|(\/(fa)\/)|(\/(th)\/))|(\/(en))|(\/(ne))|(\/(fa))|(\/(th))/, "/ne/"), {class: 'flag-icon'} %>
              <%= link_to image_tag("flags/IRAN_Flag.png", border: 0, title:"فارسی"), request.url.gsub(/((\/(en)\/)|(\/(ne)\/)|(\/(fa)\/)|(\/(th)\/))|(\/(en))|(\/(ne))|(\/(fa))|(\/(th))/, "/fa/"), {class: 'flag-icon'} %>
              <%= link_to image_tag("flags/THAILAND_Flag.png", border: 0, title:"ไทย"), request.url.gsub(/((\/(en)\/)|(\/(ne)\/)|(\/(fa)\/)|(\/(th)\/))|(\/(en))|(\/(ne))|(\/(fa))|(\/(th))/, "/th/"), {class: 'flag-icon'} %>
          </li>
          
        </ul>
      </div>
    </nav>
  </div>
</header>
